div {
    color: white;
    padding: 5px;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.lightBlue {
    background-color: lightblue;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}